
strong {
    font-weight: bold;
}

.intro-section {
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: rgba(247, 242, 242, 0.774);
}

$cardBaseStyle: (
    borderColor: lightgray,
    shadowColor: #d3d3d3d1,
    headerBackground: rgba(247, 242, 242, 0.774),
    textColor: black,
    footBackground: rgb(202, 197, 197)
);

@mixin cardBase($rows, $areas) {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: $rows;
    grid-template-areas: $areas;       

    border: 1px solid map-get($cardBaseStyle,borderColor); /*lightgray;*/
    box-shadow: 2px 2px 8px 4px map-get($cardBaseStyle,shadowColor);  /*#d3d3d3d1;*/
    border-radius: 15px;
    margin: 5%;
    font-family: sans-serif;	
}


.footer {

    margin-top: 50px;
    padding: 10px;
    background-image: url($footer-background-img);
    background-repeat: repeat;

    .socialMediaBase{
        width: 35px;
        height: "auto";
        border-radius: 5px;
        background-color: black;    
    } 
    
    @if $social-theme=="color"{
        /* Color theme */
        @each $red, $color in $redes{

            .social-#{$red} {
                @extend .socialMediaBase;
                background-color: $color;
                }
            }

    } @else { 
        /* Dark theme */

        @each $red, $color in $redes{

            .social-#{$red} {
                @extend .socialMediaBase;                
                }
            }
    }
}