.miembros{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    padding: 5%;



    .cardMiembro {
        $rows: 1fr 3fr 1fr 0.5fr;
        $areas: "nombre"
        "foto"
        "descripcion"
        "mas";
        @include cardBase($rows, $areas);
        //width: 25%;
        //height: auto;

        .nombre {

            grid-area: nombre;
            display: block;
            margin: auto;
            background-color: rgba(247, 242, 242, 0.774);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            text-align: center;
            margin: 5px;

        }

        .foto {
            grid-area: foto;
            display: block;
            margin: auto;

            img {
                grid-area: contenidoFoto;
                width: 250px;
                height: auto;
                margin: 5px 5px 5px 5px;
                transition: all 2s
            }

        }

        .descripcion {
            grid-area: descripcion;

            p {
                text-align: center;
            }
        }

        .mas {
            grid-area: mas;
            background-color: black;
            color: whitesmoke;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            text-align: center;
        }
    }

}